.container-home-functions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 2rem;
  margin: 2rem 0;
}


.container-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
}

.text-title-functions {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.text-description {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  color: #241f1c;
  margin: 0;
  text-align: left;
}

.container-card-home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
}

.container-text-item-right,
.container-text-item-left {
  width: 40%;
}

.text-title {
  font-size: 1.2rem;
  font-weight: 800;
  color: #48ba28;
  margin: 0;
}

.text-subtitle {
  font-size: 1.5rem;
  font-weight: 700;
}

.text-description {
  font-size: 1rem;
  font-weight: 500;
  color: #241f1c;
}


.container-text-item-right {
  text-align: left;
}

.container-text-item-left {
  text-align: right;
}


@media (max-width: 768px) {
  .container-home-functions {
    padding: 1rem;
    margin: 0px;
  }

  .container-text-item-right,
  .container-text-item-left {
    width: 100%;
    text-align: center;
  }

  .text-title-functions {
    font-size: 1.5rem;
  }

  .text-description {
    font-size: 1rem;
  }

  .container-card-home {
    flex-direction: column;
    gap: 1rem;
  }

  .container-card-home img {
    width: 327px;
    height: 252px;
  }
.cont-fu{
  display: flex;
  flex-direction: column;
  text-align: left;
}
}