.container-home-beneficts {
  display: flex;
  justify-content: center;
  align-items: center;

  .container-beneficts {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .text-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: left;
    /* Alineado a la izquierda */
    color: #241f1c;
    margin: 0px;
  }


  .text-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    color: #241f1c;
    margin: 0px;
  }

  .card-item-beneficts {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .card-beneficts {
    width: 64px;
    height: 64px;
    background: #ebfee6;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-item-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    /* Alineado a la izquierda */
    color: #241f1c;
    margin: 0px;
  }

  .text-item-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    /* Alineado a la izquierda */
    color: #585553;
    margin: 0px;
  }

  .container-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
  }

  .container-text-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
  }

  .container-item-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
  }

  @media (max-width: 767px) {
    .container-beneficts {
      flex-direction: column;
      align-items: center;
    }

    .container-home-beneficts {
      width: 90%;
      margin: auto;
    }

    .container-item {
      align-items: center;
      text-align: center;
      /* Centrar en pantallas pequeñas */
    }

    .container-item-card {
      align-items: center;
    }

    .card-item-beneficts {
      flex-direction: row;
      gap: 16px;
    }

    .container-text-item {
      width: 223px;
      height: 80px;
    }

    .card-beneficts {
      width: 80px;
      height: 80px;
    }
  }
}