.container-body-d {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;

}

.container-title-d {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
  text-align: center;
  padding-top: 50px;
}

.container-text-title-d {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-title-d {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.text-description-d {
  font-size: 1rem;
  font-weight: 400;
  color: #555;
}

.grid-container-d {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  justify-content: center;
}

.div-image-d {
  flex-direction: column;
  display: flex;
  width: 355;
  gap: 16px;
  border-radius: 8px;
}

.image {
  border-radius: 8px 8px 0px 0px;
}

.container-d {
  margin-bottom: 80px;
}

.image-desi {
  width: 308px;
  height: 469px;
  border-radius: 16px;
  border: 1px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(229, 229, 229, 1)
}

.p-desi {
  align-items: center;
  display: flex;
  justify-content: left;
  padding: 16px;
  gap: 8px;

}
.div2{
  justify-content: center;
  display: flex;
  width: 100%;
}