

.footer {
  display: grid;
  grid-template-rows: auto auto auto;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.footer-row {
  margin: 10px 0;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px; 
}

.footer-column {
  text-align: left; 
}

.footer-column {
  h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    text-align: left;
    margin-bottom: 30px;
  }

  p {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
  }
}
.footer-logo {
  margin-top: 30px;
  margin-bottom: 60px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 15px; 
}

.icon {
  font-size: 24px;
  cursor: pointer;
  color: #333; 
}

.divider {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc; 
  margin: 0 10px; 
  margin-bottom: 40px;
  margin-top: 40px;
}

.span-font {
  font-size: 12px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: center;
  color: rgba(168, 168, 168, 1);
}
