.footer {
  display: grid;
  grid-template-rows: auto auto auto;
  background-color:rgba(255, 255, 255, 1);
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  box-sizing: border-box;

}


.footer-row {
  margin: 10px 0;
}


.footer-columns {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* Default: 5 columns in desktop */
  gap: 20px;
}


.footer-column {
  text-align: left;
}


.footer-column h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 19.6px;
  text-align: left;
  margin-bottom: 30px;
}


.footer-column p {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}


.footer-logo {
  margin-top: 30px;
  margin-bottom: 60px;
}


.footer-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}


.divider {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
  margin: 0 10px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.span-font {
  font-size: 12px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: center;
  color: rgba(168, 168, 168, 1);
}

@media (max-width: 768px) {


  .footer {
    margin-left: 10%;
    margin-right: 10%;
  }

  .footer-logo {
    width: 100%;
    display: flex;
    padding-bottom: 24px;
    margin-bottom: 0px;
  }

  .footer-columns {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .footer-icons {
    gap: 10px;
  }

  .footer-column h4 {
    font-size: 16px;

  }

  .footer-column p {
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: rgba(36, 31, 28, 1);
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    opacity: 70%;
  }

  .divider {
    margin: 0 5px;
  }

  .span-font {
    font-size: 10px;
  }

  .footer-column h4 {
    padding-bottom: 16px !important;
    margin-bottom: 0px;
  }

  .footer-column {
    text-align: left;
    padding-bottom: 16px;
  }
}