.container-home-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding-top: 5%;
  background: #EAF9DE;
}

.container-text-hero {
  width: 441px;
}

.container-lottie-hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-title-hero {
  font-size: 48px;
  font-weight: 800;
  line-height: 52.8px;
  letter-spacing: -0.01em;
  text-align: left;
  color: rgba(36, 31, 28, 1);
}

.text-description-hero {
  font-size: 24px;
  font-weight: 500;
  line-height: 38.4px;
  letter-spacing: -0.005em;
  text-align: left;
  color: rgba(36, 31, 28, 1);
  margin-right: 20px;
  margin-bottom: 50px;
}


@media (max-width: 768px) {
  .container-home-hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    display: flex;
    gap: 0 !important;
  }

  .container-text-hero {
    width: 100%;
    text-align: center;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .button.contained {
    width: 100% !important;
    margin-top: 40px;
  }
  .text-title-hero {
    width: 327px;
    height: 132px;
    font-size: 40px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(36, 31, 28, 1);
  }

  .text-description-hero {
    width: 327px;
    height: 64px;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.005em;
    text-align: center;
    color: rgba(36, 31, 28, 1);
  }

  .container-lottie-hero {
    width: 100%;
  }
}