.container-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  .divider-home {
    margin-top: 72px;
    margin-bottom: 72px;
    height: 2px;
    width: 50%;
    background-color: rgba(229, 229, 229, 1);
  }
  @media (max-width: 768px) {
    .divider-home{
      width: 75%;
    }
    
  }
}

