.conact-container-hero-us {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  padding-top: 10% ;

  background: linear-gradient(180deg, #eaf9de 0%, rgba(250, 255, 246, 0) 100%);

  .container-text-hero-ush {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;

  }

  .text-title-hero-us {
    font-size: 40px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: -0.01em;
    color: rgba(36, 31, 28, 1);
    width: 100%;
  }

  .text-description-hero-us {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.005em;
  }

@media (max-width: 768px) {
  
  .conact-container-hero-us{
    width: 100%;
   
  }
  .container-text-hero-ush{
    padding-bottom: 32px;
    margin-top: 50px !important;
  }
}
}