.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(235, 254, 230, 1);
    color: rgba(36, 31, 28, 1);
    box-sizing: border-box;

    .imagen-n {
        width: 100%;
        position: relative;
        top: -45px;
        left: -24px;
    }

    .mobile-menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 40px;
        justify-content: center;
    }

    .mobile-menu-header span {
        font-size: 1.5rem;
    }

    .close-button {
        cursor: pointer;
    }


    .padre-mini-menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-items: center;
    }

    .mobile-menu-list li {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        padding-left: 32px;
        gap: 40px;
    }

    .mobile-menu-list a {
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
        display: block;

    }

    .mobile-menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        font-size: 28px;
        font-weight: 700;
        line-height: 30.8px;
        letter-spacing: -0.01em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(36, 31, 28, 1);
    }

    .Inicio {
        position: absolute;
        top: 194px;
        left: 114px;
    }

    .Nosotros {
        position: absolute;
        top: 270px;
        left: 138px;
    }

    .Productos {
        position: absolute;
        top: 346px;
        left: 162px;
    }

    .Contact {
        position: absolute;
        top: 574px;
        left: 114px;
    }

    .Blog {
        position: absolute;
        top: 498px;
        left: 138px;
    }

    .Membresia {
        position: absolute;
        top: 422px;
        left: 162px;

    }



    .mobile-menu-list a {
        text-decoration: none;
        color: rgba(36, 31, 28, 1);
        font-family: Plus Jakarta Sans;
        font-size: 28px;
        font-weight: 700;
        line-height: 30.8px;
        letter-spacing: -0.01em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;


    }

    .close-button {
        width: 24px;
        height: 24px;
        top: 736px;
        left: 175px;
        position: absolute;
    }
}