.container-blog {
  margin-top: 160px;

  .filters {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
    align-items: center;
    height: 46px;
  }

  .filter-item {
    cursor: pointer;
    width: auto;
    height: auto;
    font-size: 14px;
    font-weight: 800;
    line-height: 14px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 16px;
    background: rgba(235, 254, 230, 1);
    border-radius: 500px;
    border: 1px solid rgba(159, 219, 142, 1);
    transition: color 0.3s, border-bottom 0.3s;
    color: rgba(36, 31, 28, 1);
  }

  .filter-item.active {
    background: rgba(72, 186, 40, 1);
    color: rgba(255, 255, 255, 1);
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    justify-content: center;
    align-items: center;
    width: 1072px;
    margin: 0 auto;
    padding: 0;
  }

  .card {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(229, 229, 229, 1);
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    width: 340px;
    height: 407px;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .content {
    padding: 24px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .content h3 {
    color: rgba(36, 31, 28, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
  }

  .content p {
    color: rgba(88, 85, 83, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .actions .link {
    color: rgba(72, 186, 40, 1);
    font-size: 14px;
    font-weight: 700;
  }

  .actions .link:hover {
    text-decoration: underline;
  }

  .image-container {
    position: relative;
    width: 340px;
    height: 185px;
    background: linear-gradient(90deg, #26929F 21.18%, #186E80 78.68%);
    overflow: hidden;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .div-envios {
    position: absolute;
    z-index: 10;
    top: 10px;
    font-size: 10px;
    font-weight: 800;
    line-height: 10px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: rgba(255, 255, 255, 1);
    color: rgba(36, 31, 28, 1);
    padding: 4px 8px 4px 8px;
    border-radius: 4px ;
 display: flex;
 margin-left: 16px;
 margin-top: 144px;
    
  }
}